[Desktop Entry]
Name=drzefko
Comment=A fractal tree
Comment[pl]=Drzewko fraktalne
Icon=drzefko
Exec=drzefko
Terminal=false
Type=Application
Categories=Amusement;
# vi: encoding=utf-8
