[Desktop Entry]
Encoding=UTF-8
Name=drzefko
Comment=A fractal tree
Comment[pl]=Drzewko fraktalne
Icon=drzefko.png
Exec=drzefko
Terminal=false
Type=Application
# vi: encoding=utf-8
