[Desktop Entry]
Name=drzefko
Comment=A fractal tree
Comment[pl]=Drzewko fraktalne
Icon=drzefko.png
Exec=drzefko
Terminal=0
Type=Application
# vi: encoding=utf-8
